.menuContent {
    position: fixed;
    display: flex;
    top: 0;
    left: -400px; /* Posiziona il div a sinistra della pagina */
    height: 100%;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: left 0.3s ease;
    z-index: 999;
    overflow-y: auto;
    background: var(--Scorrimento);
}

.opzioni {
    display: flex;
    width: 350px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--Green);
    position: relative;
    overflow: hidden;
}


.opzioni::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--Sfondo);
    transition: transform 0.4s, color 0.4s;
}

.opzioni:hover::before{
    transform: translateX(100%);
}

.opzioni:hover {
    cursor: pointer;
}

.opzioni:hover span {
    color: var(--Scorrimento);
}

.opzioni span {
    display: block;
    color: var(--Sfondo);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    position: relative;
}


.menuContentVisible {
    left: 0;
}

.closeButton {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    border-radius: 5px;
    color: var(--Sfondo);
}

.closeButton:hover {
    color: var(--Green);
}


.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--Sfondo);
}

.content > .navbar {
    display: flex;
    height: 110px;
    padding: 0px 30px;
    align-items: center;
    gap: 40px; 
    align-self: stretch;
    background-color: var(--Green);
}

.navbar > .menuelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.navbar > .menuelogo > .menuButton {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 80%;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.menuButton::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: var(--Icon);
    transform: translateX(-50%);
    transition: width 0.3s;
    border-radius: 5px;
}

.menuButton:hover::after {
    width: 100%;
}

.menuButton:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.navbar > .menuelogo > svg:hover {
    cursor: pointer;
}

.navbar > .searchbareicone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.navbar > .searchbareicone > .searchBar {
    display: flex;
    height: 54px;
    padding: 13px 20px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 20px;
    background-color: var(--Sfondo);
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.40);
}

.searchBar > input[type="search"] {
    border: none;
    background-color: transparent;
    color: var(--Icon, #2A332D);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.searchBar > input[type="search"]:focus {
    outline: none;
}

.searchBar > input[type="search"]::placeholder{
    opacity: 0.6;
}

.searchBar > svg:hover {
    cursor: pointer;
}

.navbar > .searchbareicone > .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.searchbareicone > .icone > .boxicon {
    display: flex;
    padding: 9px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.boxicon > .U {
    display: none;
}

.boxicon > .immagine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxicon > .immagine > img {
    width: 40px;
    height: 40px;
    border-radius: 500px;
}

.boxicon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: var(--Icon);
    transform: translateX(-50%);
    transition: width 0.3s;
}

.boxicon:hover::after {
    width: 100%;
}

.boxicon:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

.navbar > .searchbareicone > .icone > .boxicon > .counter {
    display: none;
    width: 15px;
    height: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 8px;
    border-radius: 100px;
    background: var(--Scorrimento);
}

.icone > .boxicon > .counter > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
}

.icone > .boxicon > span {
    color: var(--Icon);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    max-width: 8ch;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content > .corpo {
    display: flex;
    padding: 10px 35px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    min-height: 537px;
    background: var(--Sfondo);
}

.corpo > .carrello {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex: 1 0 0;
    border-radius: 10px;
}

.carrello > .numprodotti {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.numprodotti > span {
    color: var(--Icon);
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
}

.numprodotti > .num {
    color: var(--Icon);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.carrello > .prodotti {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    max-height: 390px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.prodotti.empty-cart {
    overflow-y: hidden;
}

.prodotti:not(.empty-cart) {
    overflow-y: scroll;
}


.prodotti > span {
    color: var(--Icon);
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    display: none;
}

.prodotti > .prodotto {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 0.5px solid var(--Scorrimento);
    position: relative;
    user-select: none;
}

.prodotto > img {
    display: flex;
    width: 180px;
    height: 160px;
    align-items: center;
}

.prodotto > img:hover {
    cursor: pointer;
}

.prodotto > .info {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 100%;
    overflow: hidden;
    color: var(--Icon);
    text-overflow: ellipsis;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}

.info > span:hover {
    cursor: pointer;
}

.info > .countereprezzo {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.countereprezzo > .prezzoesconto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.countereprezzo > .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Scorrimento);
    user-select: none;
}

.counter > .meno {
    display: flex;
    padding: 5px 7px;
    justify-content: center;
    align-items: center;
}

.meno:hover,
.piu:hover {
    cursor: pointer;
}

.counter > .numero {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: #FFF;
    align-self: stretch;
}

.numero > span {
    color: var(--Icon);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.counter > .piu {
    display: flex;
    padding: 5px 7px;
    justify-content: center;
    align-items: center;
}

.countereprezzo > .prezzoesconto > span {
    color: var(--Green);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.countereprezzo > .prezzoesconto > .prezzo {
    display: flex;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prezzo > .t1 {
    color: var(--Icon);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: line-through;
    opacity: 0.5;
}

.prezzo > .t2 {
    color: var(--Icon);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.prodotto > svg {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 1%;
    top: 5%;
    transform: translate(-1% , -5%);
}

.prodotto > svg:hover {
    cursor: pointer;
}

.corpo > .totaleavviso {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    width: 100%;
}

.totaleavviso > .totale {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
}

.totale > span {
    color: var(--Icon);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.totale > .prezzoprodotti,
.totale > .prezzospedizione, 
.totale > .prezzototale {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid var(--Scorrimento);
}

.prezzoprodotti > span {
    color: var(--Icon);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}

.prezzoprodotti > .t2 {
    color: var(--Icon);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.prezzospedizione > .iconaespan {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconaespan > span {
    color: var(--Icon);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}

.prezzospedizione > .S {
    color: var(--Icon);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.totale > .prezzototale > span {
    color: var(--Icon);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.prezzototale > .t2 {
    color: var(--Icon);
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
}

.totale > .bacquista {
    display: flex;
    padding: 6px 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    background: var(--Scorrimento);
    position: relative;
    overflow: hidden;
}

.bacquista::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--Sfondo);
    transition: transform 0.4s, color 0.4s, border 0.4s;
}

.bacquista:hover::before {
    transform: translateX(100%);
}

.bacquista:hover {
    border: 1px solid var(--Scorrimento);
    cursor: pointer;
}

.bacquista:hover span {
    color: var(--Scorrimento);
}

.bacquista > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    position: relative;
}

.bacquista.disabled-button {
    opacity: 0.6;
    pointer-events: none;
}

.totaleavviso > .avviso {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    display: none;
}

.avviso > span {
    color: var(--Icon);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.content > .footer {
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--Green);
}

.footer > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

@media screen and (max-width: 1150px) {
    .navbar > svg,
    .navbar > .menuButton {
       display: none;
    }

    .content > .navbar {
        display: flex;
        height: 160px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .navbar > .menuelogo {
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-top: 20px;
        width: 100%;
    }

    .navbar > .searchbareicone {
        padding-bottom: 15px;
    }

    .content > .corpo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .corpo > .carrello > .prodotti > .prodotto > img {
        width: 80px;
        height: 80px;
    }

    .corpo > .carrello > .prodotti > .prodotto > .info > span {
        font-size: 15px;
    }

    .prodotto > .info > .countereprezzo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        gap: 30px;
    }

    .corpo > .totaleavviso > .totale > span {
        font-size: 24px;
    }

    .corpo > .totaleavviso > .totale > .prezzoprodotti > span,
    .corpo > .totaleavviso > .totale > .prezzoprodotti > .t2,
    .corpo > .totaleavviso > .totale > .prezzospedizione > .iconaespan > span,
    .corpo > .totaleavviso > .totale > .prezzospedizione > .S {
        font-size: 22px;
    }

    .corpo > .totaleavviso > .totale > .prezzototale > span {
        font-size: 30px;
    }
    
    .corpo > .totaleavviso > .totale > .prezzototale > .tot {
        font-size: 28px;
    }

    .corpo > .carrello > .prodotti > span,
    .corpo > .totaleavviso > .avviso > span {
        font-size: 35px;
    }

    .content > .footer > span {
        font-size: 15px;
    }
}