.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--Sfondo);
}

.content > .navbar {
    display: flex;
    height: 110px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 60px; 
    align-self: stretch;
    background-color: var(--Green);
}

.navbar > .menuButton {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 80%;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.menuButton::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: var(--Icon);
    transform: translateX(-50%);
    transition: width 0.3s;
    border-radius: 5px;
}

.menuButton:hover::after {
    width: 100%;
}

.menuButton:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.navbar > svg:hover {
    cursor: pointer;
}

.navbar > .searchBar {
    display: flex;
    height: 54px;
    padding: 13px 20px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 20px;
    background-color: var(--Sfondo);
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.40);
}

.navbar > .searchBar > input[type="search"] {
    border: none;
    background-color: transparent;
    color: var(--Icon, #2A332D);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.navbar > .searchBar > input[type="search"]:focus {
    outline: none;
}

.searchBar > input[type="search"]::placeholder{
    opacity: 0.6;
}

.navbar > .searchBar > svg:hover {
    cursor: pointer;
}

.navbar > .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.navbar > .icone > .boxicon {
    display: flex;
    padding: 9px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 5px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.boxicon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: var(--Icon);
    transform: translateX(-50%);
    transition: width 0.3s;
}

.boxicon:hover::after {
    width: 100%;
}

.boxicon:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

.navbar > .icone > .boxicon > .counter {
    display: none;
    width: 15px;
    height: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 8px;
    border-radius: 100px;
    background: var(--Scorrimento);
}

.navbar > .icone > .boxicon > .counter > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
}

.navbar > .icone > .boxicon > span {
    color: var(--Icon);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.content > .corpo {
    display: flex;
    padding: 15px 35px 0px 35px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 537px;
}

.corpo > .navigazione {
    display: flex;
    align-items: center;
    width: 100%;
}

.navigazione > span {
    color: var(--Icon);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    padding-right: 5px;
}

.navigazione > span:hover {
    cursor: pointer;
}

.navigazione > .posizione {
    color: var(--Icon);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.corpo > .testoefiltri {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testoefiltri > .tspan > span {
    color: var(--Icon);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
}

.testoefiltri > .tspan > .risultato {
    color: var(--Icon);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
}

.testoefiltri > .filtri {
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--Scorrimento);
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.20);
    position: relative;
}


.filtri > .tendina {
    display: flex;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-right: 1.5px solid var(--Icon);
    position: relative;
}

.tendina:hover {
    cursor: pointer;
}

.filtri > .fil {
    display: flex;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    border-right: 1.5px solid var(--Icon);
    position: relative;
    overflow: hidden;
}

.fil::before,
.filtri > .sconto::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--Sfondo);
    transition: transform 0.4s, color 0.4s, border 0.4s;
}

.fil:hover::before,
.filtri > .sconto:hover::before {
    transform: translateX(100%);
}

.fil:hover,
.filtri > .sconto:hover {
    cursor: pointer;
}

.fil:hover span,
.filtri > .sconto:hover span {
    color: var(--Scorrimento);
}

.fil > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    position: relative;
}

.filtri > .sconto {
    display: flex;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    position: relative;
    overflow: hidden;
}

.sconto > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    position: relative;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 140px;
    background-color: var(--Scorrimento);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: var(--Sfondo);
    position: relative;
}

.dropdown-content a::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--Sfondo);
    transition: transform 0.4s, color 0.4s, border 0.4s;
}

.dropdown-content a:hover::before {
    transform: translateX(100%);
}

.dropdown-content a:hover {
    color: var(--Scorrimento);
}


.corpo > .prodottitrovati {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    position: relative;
}


.prodottitrovati > .errormessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.errormessage > span {
    color: var(--Icon);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

.errormessage > .altro {
    color: var(--Icon);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
}

.content > .corpo > .prodottitrovati > .prodotto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 10px 10px;
    gap: 30px;
    border-radius: 10px;
    background: var(--Sfondo);
    position: relative;
    transition: box-shadow 0.4s;
}

.prodotto:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 8px var(--Sfondo);
}

.prodotto > .cifrasconto {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 10%;
    top: 6%;
    transform: translate(-10% , -6%);
    border-radius: 5px;
    background: var(--Scorrimento);
}

.cifrasconto > span {
    color: var(--Sfondo);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.prodotto > .immaginetesto {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.prodotto > .immaginetesto > .immagine {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}

.immagine > img {
    width: 150px;
    height: 150px;
}

.prodotto > .immaginetesto > span {
    display: -webkit-box;
    width: 240px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: var(--Icon);
    text-align: left;
    text-overflow: ellipsis;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.prodotto > .prezzoecarrello {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.prodotto > .prezzoecarrello > .prezzo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prezzoecarrello > .prezzo > .span1 {
    color: var(--Icon);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-decoration: line-through;
    opacity: 0.5;
    width: 100%;
}

.prezzoecarrello > .prezzo > .span2 {
    color: var(--Icon);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.prezzoecarrello > .bcarrello {
    display: flex;
    position: relative;
    padding: 6px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--Scorrimento);
    overflow: hidden;
}

.prezzoecarrello > .bcarrello::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--Sfondo);
    transition: transform 0.4s, color 0.4s, border 0.4s;
}

.prezzoecarrello > .bcarrello:hover::before {
    transform: translateX(100%);
}

.prezzoecarrello > .bcarrello:hover {
    border: 1px solid var(--Scorrimento);
}

.prezzoecarrello > .bcarrello:hover span {
    color: var(--Scorrimento);
}

.prezzoecarrello > .bcarrello > span {
    color: var(--Sfondo);
    position: relative;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.corpo > .scorrimento {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.corpo > .scorrimento > .testo > span {
    color: var(--Icon);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.scorrimento > .pagine {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--Scorrimento);
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.20);
}

.pagine:hover {
    cursor: pointer;
}

.pagine > .frecces {
    display: flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-right: 1.5px solid var(--Icon);
    user-select: none;
}

.pagine > .frecced {
    display: flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    user-select: none;
}

.pagine > .paginaC {
    display: flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid var(--Icon);
    background: var(--Green);
}

.paginaC > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.pagine > .pagina {
    display: flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid var(--Icon);
}

.pagina > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.content > .footer {
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--Green);
}

.footer > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.hidden-reference {
    display: none;
}

.hidden-reference-span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}