.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
}

.content > .navbar {
    display: flex;
    height: 110px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 60px; 
    align-self: stretch;
    background-color: var(--Green);
}

.navbar > .menuButton {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 80%;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.menuButton::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: var(--Icon);
    transform: translateX(-50%);
    transition: width 0.3s;
    border-radius: 5px;
}

.menuButton:hover::after {
    width: 100%;
}

.menuButton:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.navbar > svg:hover {
    cursor: pointer;
}

.navbar > .searchBar {
    display: flex;
    height: 54px;
    padding: 13px 20px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 20px;
    background-color: var(--Sfondo);
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.40);
}

.navbar > .searchBar > input[type="search"] {
    border: none;
    background-color: transparent;
    color: var(--Icon, #2A332D);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.navbar > .searchBar > input[type="search"]:focus {
    outline: none;
}

.navbar > .searchBar > svg:hover {
    cursor: pointer;
}

.navbar > .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.navbar > .icone > .boxicon {
    display: flex;
    padding: 9px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 5px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.boxicon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: var(--Icon);
    transform: translateX(-50%);
    transition: width 0.3s;
}

.boxicon:hover::after {
    width: 100%;
}

.boxicon:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

.navbar > .icone > .boxicon > .counter {
    display: none;
    width: 15px;
    height: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 8px;
    border-radius: 100px;
    background: var(--Scorrimento);
}

.navbar > .icone > .boxicon > .counter > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
}

.navbar > .icone > .boxicon > span {
    color: var(--Icon);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.content > .corpo {
    display: flex;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    background: #FFF;
    min-height: 537px;
}

.corpo > .recuperapassword {
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: var(--Sfondo);
}

.corpo > .recuperapassword > span {
    color: var(--Icon);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
}

.recuperapassword > .emailecounter {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%
}

.emailecounter > span {
    color: var(--Icon);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
}

.emailecounter > .email {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
}

.email > input[type="email"] {
    border: none;
    background-color: transparent;
    color: var(--Icon, #2A332D);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.email > input[type="email"]:focus {
    outline: none;
}

.emailecounter > .timer {
    color: var(--Icon);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    display: none;
}

.recuperapassword > .inviacodice {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.inviacodice > .bcodice {
    display: flex;
    padding: 9px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    background: var(--Scorrimento);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.bcodice > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    position: relative;
}

.bcodice:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--Sfondo);
    transition: transform 0.4s, color 0.4s;
}

.bcodice:hover::before {
    transform: translateX(100%);
}

.bcodice:hover {
    cursor: pointer;
    border: 1px solid var(--Scorrimento);
}

.bcodice:hover span {
    color: var(--Scorrimento);
}

.content > .footer {
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--Green);
}

.footer > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}