<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/Generali.css}" />
    <link rel="stylesheet" th:href="@{/css/Carrello.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>EFarm</title>
</head>
<body class="carrello-back" onload=caricaCarrello() style="background-color: white">
<div class="p-5">
    <h3 class="fw-bold mb-5 mt-2 pt-1">Riepilogo</h3>


    <h5 class="text-uppercase mb-3">Indirizzo di consegna</h5>

    <div id="articolo_qui">

    </div>
    <div class="mb-4 pb-2">
        <label>Indirizzo registrato su PayPal</label>
    </div>
    <h5 class="text-uppercase mb-3">Spedizione</h5>
    <div class="mb-4 pb-2">
        <label>Consegna gratis 2/3 giorni lavorativi €0.00</label>
    </div>

    <hr class="my-4">
    <div class="d-flex justify-content-between mb-5">
        <h5 class="text-uppercase">Prezzo totale €</h5>
        <h5 id="totale"></h5>
    </div>
</body>
<script th:src="@{/js/counter.js}"></script>
<script th:src="@{/js/carrello.js}"></script>
<script th:src="@{/js/menulaterale.js}"></script>
</html>