.menuContent {
    position: fixed;
    display: flex;
    top: 0;
    left: -400px; /* Posiziona il div a sinistra della pagina */
    height: 100%;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: left 0.3s ease;
    z-index: 999;
    overflow-y: auto;
    background: var(--Scorrimento);
}

.opzioni {
    display: flex;
    width: 350px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--Green);
    position: relative;
    overflow: hidden;
}


.opzioni::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--Sfondo);
    transition: transform 0.4s, color 0.4s;
}

.opzioni:hover::before{
    transform: translateX(100%);
}

.opzioni:hover {
    cursor: pointer;
}

.opzioni:hover span {
    color: var(--Scorrimento);
}

.opzioni span {
    display: block;
    color: var(--Sfondo);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    position: relative;
}


.menuContentVisible {
    left: 0;
}

.closeButton {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    border-radius: 5px;
    color: var(--Sfondo);
}

.closeButton:hover {
    color: var(--Green);
}


.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
}

.content > .navbar {
    display: flex;
    height: 110px;
    padding: 0px 30px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background-color: var(--Green);
}

.navbar > .menuelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.navbar > .menuelogo > .menuButton {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 80%;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.menuButton::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: var(--Icon);
    transform: translateX(-50%);
    transition: width 0.3s;
    border-radius: 5px;
}

.menuButton:hover::after {
    width: 100%;
}

.menuButton:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.navbar > .menuelogo > svg:hover {
    cursor: pointer;
}

.navbar > .searchbareicone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.navbar > .searchbareicone > .searchBar {
    display: flex;
    height: 54px;
    padding: 13px 20px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 20px;
    background-color: var(--Sfondo);
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.40);
}

.searchBar > input[type="search"] {
    border: none;
    background-color: transparent;
    color: var(--Icon, #2A332D);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.searchBar > input[type="search"]:focus {
    outline: none;
}

.searchBar > input[type="search"]::placeholder{
    opacity: 0.6;
}

.searchBar > svg:hover {
    cursor: pointer;
}

.navbar > .searchbareicone > .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.searchbareicone > .icone > .boxicon {
    display: flex;
    padding: 9px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.boxicon > .U {
    display: none;
}

.boxicon > .immagine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxicon > .immagine > img {
    width: 40px;
    height: 40px;
    border-radius: 500px;
}

.boxicon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: var(--Icon);
    transform: translateX(-50%);
    transition: width 0.3s;
}

.boxicon:hover::after {
    width: 100%;
}

.boxicon:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

.navbar > .searchbareicone > .icone > .boxicon > .counter {
    display: none;
    width: 15px;
    height: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 8px;
    border-radius: 100px;
    background: var(--Scorrimento);
}

.icone > .boxicon > .counter > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
}

.icone > .boxicon > span {
    color: var(--Icon);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    max-width: 8ch;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content > .corpo {
    display: flex;
    padding: 20px 35px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    min-height: 537px;
    background: #FFF;
}

.corpo > .aggiuntascorte {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    border-radius: 10px;
    background: var(--Sfondo);
}

.aggiuntascorte > span {
    color: var(--Icon);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.aggiuntascorte > .campoidecounter {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.campoidecounter > .campoid {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #FFF;
}

.campoid > input[type="text"] {
    border: none;
    background-color: transparent;
    color: var(--Icon, #2A332D);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.campoid > input[type="text"]:focus {
    outline: none;
}

.campoid > input[type="text"]::placeholder{
    opacity: 0.6;
}

.campoidecounter > .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Scorrimento);
    user-select: none;
}

.counter > .meno {
    display: flex;
    padding: 5px 7px;
    justify-content: center;
    align-items: center;
}

.meno:hover,
.piu:hover {
    cursor: pointer;
}

.counter > .numero {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: #FFF;
    align-self: stretch;
}

.numero > span {
    color: var(--Icon);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.counter > .piu {
    display: flex;
    padding: 5px 7px;
    justify-content: center;
    align-items: center;
}

.aggiuntascorte > .bscorte {
    display: flex;
    padding: 6px 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    background: var(--Scorrimento);
    position: relative;
    overflow: hidden;
}

.bscorte::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--Sfondo);
    transition: transform 0.4s, color 0.4s, border 0.4s;
}

.bscorte:hover::before {
    transform: translateX(100%);
}

.bscorte:hover {
    border: 1px solid var(--Scorrimento);
    cursor: pointer;
}

.bscorte > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    position: relative;
}

.bscorte:hover span {
    color: var(--Scorrimento);
}

.corpo > .aggiuntaprodotto {
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    width: 100%;
    border-radius: 10px;
    background: var(--Sfondo);
}

.aggiuntaprodotto > span {
    color: var(--Icon);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.aggiuntaprodotto > .campiprodotto {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.campiprodotto > .idenome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.idenome > .id,
.idenome > .nome {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #FFF;
}

.id > input[type="text"],
.nome > input[type="text"],
.descrizione > textarea,
.categoriaequantita > .categoria > input[type="text"] {
    border: none;
    background-color: transparent;
    color: var(--Icon, #2A332D);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.descrizione > textarea {
    height: 100%;
    resize: none;
}

.id > input[type="text"]:focus,
.nome > input[type="text"]:focus,
.descrizione > textarea:focus,
.categoriaequantita > .categoria > input[type="text"]:focus {
    outline: none;
}

.id > input[type="text"]::placeholder,
.nome > input[type="text"]::placeholder,
.descrizione > textarea::placeholder,
.categoriaequantita > .categoria > input[type="text"]::placeholder {
    opacity: 0.6;
}

.campiprodotto > .descrizione {
    display: flex;
    height: 150px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
}

.campiprodotto > .categoriaequantita {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.categoriaequantita > .categoria {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #FFF;
}

.categoriaequantita > .counter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Scorrimento);
    user-select: none;
}

.counter2 > .meno2 {
    display: flex;
    padding: 5px 7px;
    justify-content: center;
    align-items: center;
}

.counter2 > .meno2:hover,
.counter2 > .piu2:hover {
    cursor: pointer;
}

.counter2 > .numero2 {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: #FFF;
    align-self: stretch;
}

.counter2 > .numero2 > span {
    color: var(--Icon);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.counter2 > .piu2 {
    display: flex;
    padding: 5px 7px;
    justify-content: center;
    align-items: center;
}

.campiprodotto > .bcrea {
    display: flex;
    padding: 6px 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    background: var(--Scorrimento);
    position: relative;
    overflow: hidden;
}

.bcrea::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--Sfondo);
    transition: transform 0.4s, color 0.4s, border 0.4s;
}

.bcrea:hover::before {
    transform: translateX(100%);
}

.bcrea:hover {
    border: 1px solid var(--Scorrimento);
    cursor: pointer;
}

.bcrea > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    position: relative;
}

.content > .footer {
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--Green);
}

.footer > span {
    color: var(--Sfondo);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .navbar > svg,
    .navbar > .menuButton {
        display: none;
    }

    .content > .navbar {
        display: flex;
        height: 160px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .navbar > .menuelogo {
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-top: 20px;
        width: 100%;
    }

    .navbar > .searchbareicone {
        padding-bottom: 15px;
    }

    .content > .corpo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .content > .corpo > .aggiuntascorte {
        width: 100%;
    }

    .content > .footer > span {
        font-size: 15px;
    }

}
